html,
body {
	padding: 0;
	margin: 0;
	background: transparent;
	overflow: hidden;
}

/* Use OS default fonts */
body {
	font-family: -apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		'Helvetica Neue',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga', 'clig', 'kern';
}

::selection {
	background: transparent;
	color:inherit;
}

.container {
	overflow: hidden;
	position: relative;
	background: none;
	border-radius: 5px;
	width: 100%;
	height: 100%;
}

.background {
	transition: background 1s ease;
	border-radius: 5px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.draggable .background {
	background: rgba(255, 255, 255, .3);
}

/* Application Style */
.crosshairImg {
	-webkit-user-select: none;
	width: 100%;
	height: auto;
}

.drag-me {
  display: none;
  border: 1px solid #EEE;
  border-top: none;
  border-left: none;
  /*border-radius: 5px;*/
  /*background: rgba(255, 255, 255, .3);*/
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 3px;
  right: 0;
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.drag-me:active {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}

/*.drag-me:before {
	content: '.';
	position: absolute;
	left: 5;
	font-size: 20px;
	line-height: 20px;
	color: #ac14c2;
	text-shadow: 0 4px #ac14c2, 0 8px #ac14c2, 4px 0 #ac14c2, 4px 4px #ac14c2, 4px 8px #ac14c2, 8px 0 #ac14c2, 8px 4px #ac14c2, 8px 8px #ac14c2;
}*/

.draggable .drag-me {
	display: inline-block;
}
