/* Colors */
$theme_bg_dark: rgb(255, 255, 255);
$theme_bg_light: rgb(0, 0, 0);

$text_dark: #555;
$text_light: #EFEFEF;

$icon_light: rgba(255, 255, 255, 0.5);
$icon_hover_light: rgba(150, 150, 150, 0.5);
$icon_dark: rgba(0, 0, 0, 0.5);
$icon_hover_dark: rgba(0, 0, 0, 0.3);
$icon_red: rgba(255, 87, 51, 0.95);

$border_dragging: #569aff;

$default_sight_fill: #ccc;

$help_text: #666;
$help_text_bg: #EEE;
$help_text_border: #DDD;

$chooser_border: #111;
$chooser_highlight: #c7c7c7;
$chooser_highlight_hover: #2466d8;

$scrollbar_bg: #555;
$scrollbar_shadow: rgba(0, 0, 0, .3);

:root {
	// App theme
	--app-bg-color-initial: #{$theme_bg_dark};
	--app-bg-color: #{$theme_bg_dark};
	--app-text-color: #{$text_dark};
	--app-bg-opacity: 0.5;

	--icon-color: #{$icon_dark};
	--icon-hover-color: #{$icon_hover_dark};

	@media (prefers-color-scheme: light) {
		--app-bg-color: #{$theme_bg_light};
		--app-text-color: #{$text_light};

		--icon-color: #{$icon_light};
		--icon-hover-color: #{$icon_hover_light};
	}


	// Settings
	--crosshair-width: 100px;
	--crosshair-height: 100px;
	--crosshair-opacity: 1;
	--sight-fill-color: #{$default_sight_fill};
	--tilt-angle: 0deg;
	--svg-fill-color: inherit;
	--svg-stroke-color: inherit;
	--svg-stroke-width: inherit;
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    background: transparent;
    overflow: hidden;
}

/* Use OS default fonts */
body {

    color: var(--app-text-color);
    font-size: 11px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga', 'clig', 'kern';
    &.hidden {
        display: none;
    }
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

.help-text {
    text-align: center;
    letter-spacing: 1.1px;
    margin: 20px 0 0 0;
    align-items: flex-end;
    font-size: 9px;
    color: $help_text;
    text-transform: uppercase;
    span {
        font-family: Monaco, 'Courier New', monospace;
        background: $help_text_bg;
        border: 1px $help_text_border;
        padding: 4px;
    }
}

.d-none {
	display: none;
}

.d-inline-block {
	display: inline-block;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

::selection {
    background: transparent;
    color: inherit;
}

// Blue "Hover" border
.container,
#settings-container,
#chooser-container {
    user-select: none;
    &.dropping {
        &.main-window * {
            pointer-events: none;
        }
        &:before {
            content: '';
            position: absolute;
            top: 5px;
            right: 5px;
            bottom: 5px;
            left: 5px;
            border: 4px dashed $border_dragging;
            pointer-events: none;
            z-index: 9;
        }
    }
}


/* Icon Styles */

.feather {
    // stroke:whitesmoke;
    width: 20px;
    height: 20px;
}


/* Application Style */

.container {
    overflow: hidden;
    position: relative;
    background: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    cursor: none;
}

.background {
    transition: background 1s ease;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: none;
    background: var(--app-bg-color-initial);
    background: var(--app-bg-color);
	opacity: var(--app-bg-opacity);
}

// Child window background
.shadow .background {
    background: var(--app-bg-color);
}

.button {
    user-select: none;
    display: none;
    position: absolute;
    z-index: 2;
    .feather {
        stroke: var(--icon-color);
    }
    &:hover .feather {
        stroke: var(--icon-hover-color);
    }
}

.close-button {
    display: block;
    top: 3px;
    right: -1px;
    user-select: inherit;
}

.main-window .close-button {
    display: none;
    right: auto;
    left: 1px;
}

.settings-button {
    bottom: 1px;
    right: 1px;
}

.center-button {
    bottom: 1px;
    left: 1px;
    // filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
}

.info-button {
    top: 3px;
    right: 3px;
    left: 30px;
    .feather {
        width: 18px;
        height: 18px;
    }
    &:hover .feather {
    	stroke: var(--icon-color);
    }
    .aligner {
        display: flex;
        justify-content: flex-end;
    }
    .info-icon.feather {
	    stroke: $icon_red;
	    fill: white;
    }
}

#crosshair {
    // Default width
    width: var(--crosshair-width);
    height: var(--crosshair-height);
	opacity: var(--crosshair-opacity);
    display: flex;
    position: relative;
	transform: rotate( var(--tilt-angle) );
	transition: transform .1s ease-in-out;

	svg {
		fill: var(--svg-fill-color);
		stroke: var(--svg-stroke-color);
		stroke-width: var(--svg-stroke-width);
	}

	.sight {
		position: absolute;
		z-index: 1;
		svg {
			display: none;
			width: 100%;
			height: 100%;
			* {
				fill: var(--sight-fill-color);
			}
		}
		// Selectively show/hide
		&.dot {
			#dot {
				display: block;
			}
		}
		&.cross {
			#cross {
				display: block;
			}
		}
	}

}


.crosshair-wrapper {
    // This controls what is draggable
    margin: 12px auto;
    position: relative;
    height: 100px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#crosshairImg {
    user-select: none;
    width: 100%;
    height: auto;
}

// If draggable then app is unlocked
.draggable {

    .container {
        cursor: inherit;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        &:not(.dropping) {
        	.info-button,
            .crosshair-wrapper,
            .crosshair-wrapper * {
                // This is the magic to make things draggable
                -webkit-app-region: drag;
            }
        }
    }

    .background {
        display: block;
    }

    // Show buttons (except close) when unlocked
    .button {
        display: block;
    }
    // Show close button on linux/windows
    &.mac .main-window .close-button {
        display: none;
    }
    .info-button {
        cursor: grab;
        &:active {
            cursor: grabbing;
        }
        .info-icon {
        	cursor: pointer;
        }
    }
    .center-button {
        // Allow center on double-click (Windows; https://github.com/lacymorrow/crossover/issues/32)
        -webkit-app-region: no-drag;
        display: block;
    }
    .settings {
        display: flex;
    }
    &.mac .crosshair-wrapper {
        cursor: crosshair;
    }
}


/*
 * Settings
 */

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
    &:first-of-type {
        margin-top: 0;
    }
}

/* Crosshair chooser */

#chooser-container {
    height: 100vh;
    width: 100vw;
    padding: 4px;
    background: white;
    border: 3px solid $chooser_border;
}


#chooser-container {
    padding-top: 25px;
    border-radius: 5px;
}

#chooser-wrapper {
    height: 100%;
}

#crosshair-chooser {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar-track {
        box-shadow: none;
        border: none;
        background-color: transparent;
    }
    &::-webkit-scrollbar {
        margin-right: 1px;
        width: 12px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        opacity: 0.9;
        border-radius: 10px;
        box-shadow: inset 0 0 6px $scrollbar-shadow;
        background-color: $scrollbar-bg;
    }
    p {
        display: inline-block;
    }
    .crosshair-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .group-label {
        display: block;
        padding: 0 0.5em;
        font-size: 20px;
        margin-bottom: 0;
        &:first-of-type {
            margin-top: 0;
        }
    }

    // Collection wrapper
    &>div {
        width: 100%;
        padding: 0 0.5em 0;
        margin-left: -0.25em;
        margin-right: -0.25em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        p {
            max-width: 88px;
        }
    }
    img {
        cursor: pointer;
        box-sizing: content-box;
        margin: 0.5em;
        padding: 0.5em;
        height: 64px;
        border: 1px dashed $chooser_highlight;
        border-radius: 3px;
        transition: border-color .2s ease-in;
        &.current,
        &:hover {
            border-color: $chooser_highlight_hover;
        }
        &.current {
        	border-style: solid;
        	border-width: 3px;
        }
    }
}
