$border_color: #c7c7c7;
$border_color_focus: #569aff;
$border_color_hover: #888888;
$text_color: #676767;
$main_color: #555;

* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	background: transparent;
	overflow: hidden;
}

/* Use OS default fonts */
body {
	color: $main_color;
	font-size: 11px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga', 'clig', 'kern';
	&.hidden {
		display: none;
	}
}

.help-text {
	text-align: center;
	letter-spacing: 1.1px;
	margin: 20px 0 0 0;
	align-items: flex-end;
	font-size: 9px;
	color: #666;
	text-transform: uppercase;

	span {
		font-family: Monaco, 'Courier New', monospace;
		background: #eee;
		border: 1px #ddd;
		padding: 4px;
	}
}

.d-flex {
	display: flex;
	justify-content: space-between;
}

::selection {
	background: transparent;
	color: inherit;
}

/* Application Style */
.container {
	padding: 15px 4px 4px 4px;
	overflow: hidden;
	position: relative;
	background: none;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	cursor: none;

	&.dropping {
		// box-shadow: inset 0 0 10px $border_color_focus;
		padding: 11px 0 0 0;
		border: 4px dashed $border_color_focus;
	}
}

.background {
	transition: background 1s ease;
	border-radius: 5px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.drag-me {
	display: none;
	// border: 1px solid #eee;
	border-top: none;
	border-left: none;
	background: rgba(100, 100, 100, 1);
	width: 35px;
	height: 38px;
	position: absolute;
	bottom: 0;
	right: -4px;
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	-webkit-user-select: none;
	&:active {
		cursor: move;
		cursor: -webkit-grabbing;
		cursor: -moz-grabbing;
	}
	&:before {
		content: '.';
		position: absolute;
		top: 0;
		left: 10px;
		font-size: 20px;
		line-height: 20px;
		color: #eee;
		text-shadow: 0 5px #eee, 0 10px #eee, 5px 0 #eee, 5px 5px #eee, 5px 10px #eee, 10px 0 #eee, 10px 5px #eee,
			10px 10px #eee;
	}
}

#crosshair {
	// Default width
	width: 100px;
	height: 100px;
	display: flex;
	position: relative;
}

.crosshair-wrapper {
	position: relative;
	height: 100px;
	width: 100%;
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#crosshairImg {
	-webkit-user-select: none;
	width: 100%;
	height: auto;
}

.settings {
	display: none;
	padding: 10px 10px 5px 10px;
	margin: 0 -4px -4px -4px; // Offset .dropping border
	position: relative;
	flex-direction: column;
	&-background {
		background: white;
		transition: background 1s ease;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}
}

.draggable {
	.container {
		cursor: inherit;
	}
	&:not(.pickr-open) {
		.crosshair-wrapper,
		.crosshair-wrapper * {
			cursor: move;
			cursor: -webkit-grab;
			-webkit-app-region: drag;
			&:active {
				cursor: move;
				cursor: -webkit-grabbing;
			}
		}
	}
	.background {
		background: rgba(255, 255, 255, 0.5);
	}
	.drag-me {
		display: block;
	}
	.settings {
		display: flex;
	}
}

/*
 * Settings
 */

label {
	display: block;
	margin-top: 15px;
	margin-bottom: 4px;
}

.sight {
	--sight-background: #ccc;
	position: absolute;
	display: none;
	top: 50%;
	left: 50%;
	z-index: 1;
	&.dot {
		width: 5%;
		height: 5%;
		transform: translate(-50%, -50%);
		display: block;
		border-radius: 50%;
		background-color: var(--sight-background);
	}
	&.cross {
		display: inline-block;
		width: 20%;
		height: 20%;
		margin-left: -10%;
		margin-top: -10%;
		&::before {
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: 0;
			display: block;
			background: inherit;
			content: '';
			height: 100%;
			width: 1px;
			background-color: var(--sight-background);
		}
		&::after {
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: 0;
			display: block;
			background: inherit;
			content: '';
			height: 1px;
			width: 100%;
			background-color: var(--sight-background);
		}
	}
}

// Color picker
.pickr {
	-webkit-app-region: no-drag;
	display: inline-block;
	button,
	.pcr-button:after,
	.pcr-button:before {
		border-radius: 50%;
	}
}

.pcr-app * {
	-webkit-app-region: no-drag !important;
}

.setting-sight {
	display: flex;
	justify-content: space-between;
	label {
		margin-top: 0;
	}
}
.radio {
	display: inline-block;
	cursor: pointer;
	user-select: none;
	text-align: left;
	& + .radio {
		margin-left: 7px;
	}
	input {
		display: none;
		& + span {
			display: inline-block;
			position: relative;
			padding-left: 20px;
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0px;
				left: 0px;
				border-radius: 50%;
				margin-right: 5px;
				width: 14px;
				height: 14px;
				border: 1px solid #ccc;
				background: #fff;
			}
			&:after {
				content: '';
				display: block;
				width: 10px;
				height: 10px;
				background: $main_color;
				position: absolute;
				border-radius: 50%;
				top: 3px;
				left: 3px;
				opacity: 0;
				transform: scale(0, 0);
				transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
			}
		}
		&:checked + span:after {
			opacity: 1;
			transform: scale(1, 1);
		}
	}
}

select {
	font-size: 10px;
	appearance: none;
	-webkit-appearance: none;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	text-indent: 0.01px;
	text-overflow: '';
	padding: 0.5em 3em 0.5em 0.5em;
	border: 1px solid $border_color;
	border-radius: 0;
	background-color: white;
	color: $text_color;
	outline: none;
	display: inline-block;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAACgUlEQVR4nO3cSW7bQBBGYd8n3ZTY1VplkVNl8CRlOEMWOYgXvpyVhdEAIUiySFbP7wO8L+p/sjcG7+4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEDzrMifwfnH3Hf0xjh3MM4dsh5hRX5v/O44iH8jgnSMc4eN3x03fne0IvssR4Txww8RpDEdP1sEdpRfp0cQQXznxg+fux3lOckRl8YngrgujZ80gsH5n9eOIII4Phr/JIKnKEfcOj4R6Lp1/KgRzD0iSZEdmPuli/Lls+P4ZckRRLDO0vGnn/un7fazyjFLfwMQwTIa46v/+SWCNIocPyCCuIoeP7AieyLQpzG+ce4hybFEoKuq8QMi0FHl+AERrFP1+AERLNPE+AERzNPU+IEV2Q/i34jguibHD+woz0RwWdPjB0Rwnsr4Ive5n+MmShGk+Q+XBD76J5qmxg+I4F2X4we9R9D1+EGvETD+RG8RMP4ZdpSnHiJg/Ctaj0BjfCvyI/dzRNVqBIw/Q2sRMP4CrUTA+CvUHgHjK6g1AsZXVFsEjB/B4PxjDRGojD/K99h3VkklgogvS2D8BEqN4PSNKIwf0doINl73tSmMn0EpETB+RrkjYPwC5IqA8QtinHtIGQHjFyhVBCrjO/8txWfSndgRMH4FYkXA+BXRjoDxK6QVAeNXTCMCxq+cEbnPEQHjFyR1BO9v43Jfcz83JlJFwPgFix0B41cgVgSMXxHtCBi/QloRMH7FrPP/1gZgnPub+zmwgtnK69LxrfiX3PdDwZIIGL8xcyJg/EbdEgHjN+5aBIzfiXMRMH5nphEwfqfMVl4ZHwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlO4/4NIPH7tR+MsAAAAASUVORK5CYII=);
	background-position: calc(100% - 10px) 50%;
	background-size: 15px;
	background-repeat: no-repeat;
	transition: all 0.3s ease-in-out;

	/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		padding-right: 3em;
	}

	&:focus {
		border-color: $border_color_focus;
		box-shadow: inset 0 0 4px $border_color_focus;
	}

	&:hover {
		border-color: $border_color_hover;
	}
}

output {
	align-self: flex-end;
	padding-left: 10px;
}

input[type='range'] {
	-webkit-appearance: none;
	background: none;
	cursor: pointer;
	flex: 1;

	&::-webkit-slider-runnable-track {
		height: 5px;
		background: #ddd;
		border: none;
		border-radius: 3px;
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		border: none;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		background: $main_color;
		margin-top: -5px;
		position: relative;
	}

	&:focus {
		outline: none;
		&::-webkit-slider-thumb:after {
			position: absolute;
			top: -35px;
			left: 50%;
			transform: translateX(-50%);
			background: #eee;
			border-radius: 5px;
			color: $main_color;
			padding: 5px 10px;
			border: 2px solid $main_color;
		}
	}

	&:focus::-webkit-slider-runnable-track {
		background: #ccc;
	}
}

#select-crosshair-button {
	cursor: pointer;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: 700;
	text-decoration: underline;
	color: #2466d8;
	background-color: transparent;
}

/* Crosshair chooser */

#settings-container {
	height: 100vh;
	width: 100vw;
	background: transparent;
	padding: 4px 4px 4px 4px;

	&.dropping {
		// box-shadow: inset 0 0 10px $border_color_focus;
		padding: 0 0 0 0;
		border: 4px dashed $border_color_focus;
	}
}

#settings-wrapper {
	background: white;
	height: 100%;
}

#crosshair-chooser {
	height: 100%;
	width: 100%;

	overflow-y: auto;

	&::-webkit-scrollbar-track {
		-webkit-box-shadow: none;
		border: none;
		background-color: transparent;
	}

	&::-webkit-scrollbar {
		margin-right: 1px;
		width: 12px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		opacity: 0.9;
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #555;
	}

	p {
		display: inline-block;
	}

	.crosshair-option {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: start;
	}

	.group-label {
		display: block;
		padding: 0 0.5em;
		font-size: 20px;
		color: #2466d8;
		margin-bottom: 0;
	}

	&>div {
		width: 100%;
		padding: 0 0.5em 0;
		margin-left: -0.25em;
		margin-right: -0.25em;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
	}

	img {
		cursor: pointer;
		box-sizing: content-box;
		margin: 0.5em;
		padding: 0.5em;
		height: 64px;
		border: 1px	dashed #ddd;
		border-radius: 3px;
		transition: border-color .2s ease-in;

		&.current,
		&:hover {
			border-color: #2466d8;
		}

		&::after {
			content: 'hello';

		}
	}
}
